*{
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
  
    
}

.main-container{
   
}

body{
    margin: 0px;
    width: 100%;
}

.header-container, .footer-container{
    
    width: 100%;
    padding: 10px 0px;
    
   
}
.header-container{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
   height: 69px;
   border-bottom: 1px solid seashell;
 
    
}

.footer-container{
    bottom:0px ;
    border-top: 1px solid seashell;
}



.nav-item a{
    padding: 10px;
    
}


.logo-image{
   height: 50px;
   margin-left: 10px;
   
   
}

.nav-list{
    display: flex;
    list-style: none;
    
}
   
.section-1{
   
    
}

.image1-size{
    width: 1200px;
    height: 700px;
   
}



.text-position{
    width: 1200px;
    display: inline-block;
    
}



.images{
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 10px;

    
}

.section-2{
  width: 1000px;
  display: inline-block;

}

.images-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    

}