*{
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center; 
}


body{
    margin: 0px;
    width: 100%;
}

.header-container, .footer-container{ 
    width: 100%;
    padding: 10px 0px;
      
}

.header-container{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
   height: 69px;
   border-bottom: 1px solid seashell;   
}

.footer-container{
    bottom:0px ;
    border-top: 1px  seashell;
}



.nav-item a{
    padding: 10px;
    
}


.logo-image{
   height: 50px;
   margin-left: 10px;  
}

.nav-list{
    display: flex;
    list-style: none;   
}
   
.section-1{
   margin-bottom: 40px;   
}

.image1-size{
    width: 1200px;
    height: 700px;
    margin-top: 100px;
   
}

.text-position{
    width: 1200px;
    display: inline-block;  
}

.images{
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 10px;   
}

.section-2{
  width: 1000px;
  display: inline-block;

}

.images-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3{
    margin: auto;
  margin-bottom: 25px;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*ouu8ao*_ga*OTk0ODg0MjM1Ny4xNjcxMzY3NDgz*_ga_3LRZM6TM9L*MTY3MTUzNDMzMS45LjEuMTY3MTUzNDM2MS4wLjAuMA..");
  height: 500px;
  background-size: cover;
  width: 1200px;
  padding-top: 40px;

}

.title-section3{
    background: none;
    color: white;
    
}




.text-container-section-3{
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
    width: 1200px;
    background: none;
    margin-top: 10px;

}

.text-section3{
   
    width: 300px;
    height: 300px;
    line-height: 40px;


}
